.buttom {
    margin-left: 45%;
    margin-bottom: 6px;
    width: 10%
}
.OurSelect {
    border-color: #e5e9ec;
    width: 100%;

}
.selfImage{
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
}